# Виртуальная среда
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Логи / временные файлы
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Распределения / пакеты
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.spec
